/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    color: #212121;
    margin: 0%;
   padding: 0%;
}


#logo{
    width: 39px;
    height: 41px;
    padding-top: 0px;
    padding-left: 180px;
    position: fixed;
}

#hamburger{
    display: flex;
    left: 80%;
    position: fixed;
    padding-left: 2em;
    margin-bottom: 20px;
}

#nav nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#nav nav ul li{
	display: none;
}

#nav nav ul li a{
    color: #777777;
    text-decoration: none;
    font-size: 14px;
    padding-right: 38px;
}

#nav nav ul li:last-child a{
    padding: 0;
}

#nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#container-2{
    margin-top: 25px;
    margin-left: 0px;
    padding: 0px 90px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 90%;
    border-right: none;
    border-left: none;
}

figure{
    margin: 0%;
    border-bottom: 1px solid rgba(177, 174, 174, 0.39);
    display: inline-block;
    display: flex;
    flex-direction: row;

}

#book-cover-pg{
    display: inline;
    margin: 8px;
}

#book-detail{
    margin: 0%;
    padding-right: 15px;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #e9e9e9;
   
}

figure img{
    border-top: 32px solid rgba(177, 174, 174, 0.39);
    border-bottom: 32px solid rgba(177, 174, 174, 0.39);
    border-right: none;
    border-left: none;
    height: 300px;
    width: 200px;
}

del{
    padding-left: 10px;
}

#price{
    color: red;
    padding-left: 8em;

}

#price small{
    padding-right: 9em;
}

.star{
    color: #f8b732;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    font-size: 20px;
}

button{
    padding: 12px 93px;
    color: white;
    background-color: #f2849e;
    border: none;
    margin-bottom: 10px;

}

button:hover{
    background-color: #ec4b74;
}

#img-btm-p{
    display: inline-block;
    color:   #5f5f5f;
    margin-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 15px;

}

a{
    text-decoration: none;
}

.fas-star{
    color: #f8b732;
}

#product-detail{
    border-bottom: 1px solid #e9e9e9;
}

#author{
    border-bottom: 2px solid #e9e9e9;
    margin-bottom: 10px;
    font-size: 20px;
    color:   #5f5f5f;
}


